.pagination {
    display: flex;
    align-items: center;
    color: $text;
    svg {
        color: $text;
    }
    button {
        cursor: pointer;
        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
    &__page {
        padding: 0 10px;
    }
}