.cart {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    &__title {
        font-size: 35px;
        font-weight: 600;
        color: $text;
    }
    &__content {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
}