.list {
    display: flex;
    flex-direction: column;
    &__search {
        display: flex;
        align-items: flex-end;
        padding-bottom: 30px;
        .input {
            margin-left: 15px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &__button {
        margin-left: 10px;
        padding: 8px 10px;
    }
    &__content {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    &__pagination {
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }
}