.order {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    &__title {
        font-size: 35px;
        font-weight: 600;
        color: $text;
    }
    &__form {
        max-width: 400px;
        .input {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}