.home {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    &__icon {
        margin-right: 10px;
    }
    &__title {
        font-size: 35px;
        font-weight: 600;
        color: $text;
    }
}