.button {
    background-color: $primary;
    cursor: pointer;
    font-size: 14px;
    color: $white;
    font-weight: 700;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    &:hover {
        background-color: $primary-10;
    }
    &:active {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    &:disabled {
        opacity: 0.6;
        cursor: default;
    }
}