.input {
    display: flex;
    flex-direction: column;
    &__label {
        font-size: 14px;
        font-weight: 600;
        color: $text;
        padding-bottom: 5px;
    }
    &__field {
        outline: none;
        padding: 7px 5px;
        color: $text;
        border-radius: 5px;
        border: 1px solid $grey;
        font-size: 14px;
        &:focus,
        &:active {
            outline: none;
            border-color: $primary;
            box-shadow: 0px 0px 0px 2px rgba(59, 154, 221, 0.2);
        }
    }
    &__error {
        font-size: 12px;
        color: $danger;
        padding-top: 5px;
    }
}