.book {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    color: $text;
    justify-content: space-between;
    &__delete {
        margin-left: auto;
        color: $danger;
        padding-bottom: 10px;
        font-weight: 600;
        display: flex;
        align-items: center;
        cursor: pointer;

        &-title {
            padding-right: 10px;
        }

    }
    &__container {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 250px;
        border-radius: 10px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 250px;
            object-fit: cover;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 15px;
        padding: 10px 0 15px 0;
    }
    &__author {
        padding-top: 10px;
        font-weight: 400;
        font-size: 12px;
        color: $grey-10;
    }
    &__add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 12px;
        color: $grey-10;
        padding-bottom: 10px;
    }
    &__quantity {
        display: flex;
        align-items: center;
        button {
            font-weight: 600;
            font-size: 16px;
        }
    }
    &__count {
        margin: 0 5px;
    }
}